.chosen-container-multi .chosen-choices {
   border-color: #cccccc;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
   height: 32px;
   color: inherit;
}
.inline {
   display: inline;
}
select.error {
   margin-bottom: 0;
}
.emptyFormIcon {
   font-size: 180px; 
   color: #CCCCCC;
}
.emptyFormText {
   font-size: 13px;
   color: #999999;
}
#marks-entry-form .error {
   border-color: #FF0000;
}
#marks-entry-form table input {
   margin-bottom: 0;
}
.highlight {
    background: #FFDC73;
}
table .student-photo {
    height: 100px;
}
small {
    font-size: 11px !important;
}
.parent-dashboard .photo {
    height: auto;
    width: 100%;
}
.parent-dashboard .photo img {
    padding: 1px;
    border: 1px solid #B6B6B6;
}
.parent-dashboard table.profile {
    width: 100%;
    border: none;
    background: transparent;
}
.parent-dashboard table.profile tr {
    background: transparent;
}
.parent-dashboard table.profile th {
    width: 40%;
    text-align: right;
    background: transparent;
}
.parent-dashboard table.profile th,
.parent-dashboard table.profile td {
    background: #ffffff;
}
.parent-dashboard .session-detail {
    background: #E48585;
    padding: 10px 0;
    margin-top: 30px;
    color: #ffffff;
}
.parent-dashboard .session-detail span {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0 30px;
}
.parent-dashboard .session-detail span b {
    text-transform: uppercase;
}
.parent-dashboard .test-subjects {
    margin-top: 15px;
}
.parent-dashboard .test-subjects .test-subject {
    display: block;
    background: #fff;
    padding: 12px 20px;
    height: 155px;
    border-radius: 4px;
    border:1px solid #E7E7E7;
}
.parent-dashboard .test-subjects .test-subject:hover {
    border-color: #D0E4F5;
}
.parent-dashboard .test-subjects .test-subject span {
    display: block;
    clear: both;
}
.parent-dashboard .test-subjects .test-subject span i {
    padding: 0 8px 0 0;
}
.parent-dashboard .test-subjects .test-subject span.subject-name {
    font-size: 18px;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
    color: #111111;
    margin-bottom: 8px;
}
.parent-dashboard .test-subjects .test-subject span.no-of-test {
    font-size: 13px;
    color: #111;
    margin: 0 0 8px;
}
.parent-dashboard .test-subjects .test-subject span.teacher-name {}
.parent-dashboard .test-subjects .test-subject span.teacher-name b {
    display: block;
}
.parent-dashboard .subject-detail {
    margin-top: 30px;
}
.parent-dashboard .subject-detail .sidenav-subject {
    display: block;
    width: 100%;
}
.parent-dashboard .subject-detail table {
    width: 100%;
}
.toolbar .button-group {
    margin-right: 15px;
}